* {
	background: none;
	border: none;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}

header,section,aside,footer,nav,hgroup {
	display: block;
}

ul {
	list-style-type: none;
}

a {
	color: #000;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

html {
	overflow-y: scroll;
}

body {
	text-align: center;
	min-width: 1005px;
}

div.wrapper {
	margin: 0 auto;
	text-align: left;
	width: 1005px;
}

legend {
	padding-bottom: 10px;
}

body.login {
	background-color: #e2e6e9;
	min-width: 456px;
}

body.login div.content {
	background: url('bg_header_login.png') no-repeat;
	padding-top: 12px;
	text-align: left;
	margin: 100px auto 0;
	width: 452px;
}

body.login div h1 a {
	background: url('bg_logo_login.png') no-repeat;
	display: block;
	float: left;
	height: 37px;
	margin-left: 20px;
	text-indent: -999999px;
	width: 121px;
}

body.login div h2 {
	color: #a7a7a7;
	float: right;
	font-size: 18px;
	font-weight: bold;
	line-height: 37px;
	margin: 0 20px 9px 0;
}

body.login div form,body.login div .form {
	background-color: #fff;
	border-left: 1px solid #c9cdd1;
	border-right: 1px solid #c9cdd1;
	clear: both;
	padding: 12px 20px 12px;
}

body.login div form legend,body.login div .form p {
	color: #8e8e8e;
	font-family: arial, sans-serif;
	padding-bottom: 20px;
	width: 412px;
}

body.login ul.fields {
	float: left;
	margin: 15px 0 10px;
}

body.login ul.fields li {
	float: left;
	width: 200px;
}

body.login ul.fields li:first-child {
	margin-right: 10px;
}

body.login form a {
	color: #569fb9;
	float: right;
	font-size: 11px;
	font-family: arial, sans-serif;
}

body.login li label {
	color: #626262;
	display: block;
	font-family: arial, sans-serif;
	font-weight: bold;
	float: left;
	margin-bottom: 5px;
}

body.login input[type="text"],body.login input[type="password"] {
	background: url('bg_input_login.png') no-repeat;
	height: 28px;
	*line-height: 28px;
	padding: 0 10px;
	width: 179px;
}

body.login .check {
	color: #6f6f6f;
	float: left;
	font-family: arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
	margin-top: 5px;
	width: 200px;
}

body.login .check input {
	opacity: 0;
	float: left;
	height: 20px;
	width: 20px;
}

body.login span.checkbox {
	background: url('checkbox.png') no-repeat;
	float: left;
	margin-right: 5px;
}

body.login span.checkbox:hover {
	background-position: -38px 0px;
}

body.login span.checkbox:active {
	background-position: -19px 0px;
}

body.login span.checkbox:active:hover {
	background-position: -57px 0px;
}

body.login span.checkbox.checked {
	background-position: -76px 0px;
}

body.login span.checkbox.checked:hover {
	background-position: -114px 0px;
}

body.login span.checkbox.checked:active {
	background-position: -95px 0px;
}

body.login span.checkbox.checked:active:hover {
	background-position: -133px 0px;
}

body.login input[type="submit"] {
	background: url('bt_login_submit.png')
		no-repeat;
	color: #5f8898;
	cursor: pointer;
	float: right;
	height: 30px;
	margin-right: 4px;
	width: 84px;
}

body.login input[type="submit"]:hover {
	background-position: left bottom;
}

body.login ul.fields li input[type="submit"] {
	clear: both;
	margin-top: 17px;
}

body.login p.security {
	background: url('bg_security.png')
		no-repeat;
	color: #a39e3f;
	height: 21px;
	font-family: arial, sans-serif;
	font-size: 11px;
	line-height: 21px;
	margin: 0 auto;
	padding: 20px;
	text-align: left;
	width: 412px;
}

body.login p.security strong {
	background: url('bg_lock.png')
		no-repeat;
	float: left;
	margin-right: 20px;
	padding-left: 25px;
}

body.login p.error {
	color: #f00;
}

body.login p.success {
	color: #266F89;
}

body.login p.warning {
	color: #f50;
}

body.login div .form ul li {
	display: inline;
	float: left;
	margin: 0 20px;
	text-align: center;
	width: 60px;
}

body.login div .form ul li a {
	color: #8e8e8e;
}

body input[type="submit"] {
	cursor: pointer
}

#senha li {
	width: 90px
}

#senha li:first-child {
	width: 310px
}

#senha input[type="text"] {
	background: url('bg_login_email.png') no-repeat;
	width: 285px;
}