#{extends 'application.html' /}
#{set title:'Consultar' /}

#{form @Application.consultar_paciente()}
#{ifErrors}
<div class="linha"><p style="color:red;"><strong>ATENÇÃO: </strong>Preencha todos os campos obrigatórios.</p></div>
<div class="linha"></div>
#{/ifErrors}

<p><label for="nome">Nome :</label></p>
<p><input type="text" name="nome" id="nome" value="${params.nome}" /></p>
<p><label for="rg">Rg:</label></p>
<p><input type="text" name="rg" id="rg" value="${params.rg}" /></p>

<div class="btn-submit">
<p><input type="submit" value="Consultar paciente" /></p>
</div>

#{/form}

#{list items:paciente, as:'paciente'}

<p><label for="nome">Nome: </label>${paciente.nome}</p>
<p><label for="telefone">Telefone :</label>${paciente.telefone}</p>
<p><label for="rg">Rg: </label>${paciente.rg}</p>
<p><label for="end">Endere&ccedil;o: </label>${paciente.end}</p>
<p><label for="plano">Plano de saude: </label>${paciente.planoDesaude}</p>
<p>
<a href="@{Application.editar(paciente.id)}">Editar</a>
<a href="@{Application.excluir(paciente.id)}" onClick="if(!confirm('Deseja excluir este paciente?')){return false;}">Excluir</a>
</p>
<hr />

#{/list}