#{extends 'application.html' /}
#{set title:'Home' /}

<div class="container">

	<div class="hero-unit">
	    <h2>Bem vindo ao Prontuário Médico!</h2>
	    <p>
	    	O sistema online ProMed bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
	    	bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
	    	bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla  
	    </p>
	      
	</div>

#{include 'footer.html' /}

</div> <!-- /container -->
