#{extends 'application.html' /}
#{set title:'Home' /}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<div class="container">

	<div class="hero-unit">
	    <h2>Bem vindo ao Prontuário Médico!</h2>
	    <p>
	    	O Conselho Federal de Medicina (CFM), pela Resolução n.º 1.63/02, define prontuário como 
	    	“documento único, constituído de um conjunto de informações, sinais e imagens registrados, 
	    	gerados a partir de fatos, acontecimentos e situações sobre a saúde do paciente e a assistência 
	    	a ele prestada, de caráter legal, sigiloso e científico, que possibilita a comunicação entre membros 
	    	da equipe multiprofissional e a continuidade da assistência prestada ao indivíduo”. 
	    	Para simplificar – é o conjunto de documentos relativos à assistência prestada a um paciente. 
	    </p>
	    <p>
	    	O sistema online ProMed é capaz de armazenar todas as informações de saúde ao longo da vida de um indivíduo,
	    	e muitos benefícios podem ser obtidos, como por exemplo, acesso rápido aos problemas de saúde e 
	    	intervenções atuais, melhoria de efetividade do cuidado ou uma possível redução de custos com a 
	    	otimização dos recursos.
	    </p>
	      
	</div>

#{include 'footer.html' /}

</div> <!-- /container -->
