#{extends 'application.html' /} 
#{set title:'Inserir Paciente' /}

<div class="container">

	<h2>Inserir Paciente</h2>

	<div class="hero-unit">

	#{form @Paciente.cadastrar_paciente()} 
		
		#{ifErrors}
			<p style="color: red;">
				<strong>ATENÇÃO: </strong>Preencha todos os campos obrigatórios.
			</p>
		#{/ifErrors}


		<div class="control-group">

			<label for="nome">Nome:</label>
			<div class="controls">
				<input type="text" name="nome" id="nome" value="${params.nome}" />
			</div>
			
			<label for="sobrenome">Sobrenome:</label>
			<div class="controls">
				<input type="text" name="sobrenome" id="sobrenome" value="${params.sobrenome}" />
			</div>

			<label for="rg">RG:</label>
			<div class="controls">
				<input type="text" name="rg" id="rg" value="${params.rg}" />
			</div>
			
			<label for="cpf">CPF:</label>
			<div class="controls">
				<input type="text" name="cpf" id="cpf" value="${params.cpf}" />
			</div>
			
			<label for="data_nascimento">Data nascimento:</label>
			<div class="controls">
				<input type="text" name="data_nascimento" id="data_nascimento" value="${params.data_nascimento}" />
			</div>
			
			<div class="control-group">
	            <label class="control-label">Sexo</label>
	            <div class="controls">
	              <label class="radio">
	                <input type="radio" name="sexo" id="sexoM" value="M" checked=""> Masculino
	              </label>
	              <label class="radio">
	                <input type="radio" name="sexo" id="sexoF" value="F"> Feminino
	              </label>
	            </div>
	          </div>
	          
	        <label for="cep">CEP:</label>
			<div class="controls">
				<input type="text" name="cep" id="cep" value="${params.cep}" />
			</div>
			
			<label for="cidade">Cidade:</label>
			<div class="controls">
				<input type="text" name="cidade" id="cidade" value="${params.cidade}" />
			</div>
			
			<label for="estado">Estado:</label>
			<div class="controls">
				<input type="text" name="estado" id="estado" value="${params.estado}" />
			</div>
			
			<label for="pais">Pais:</label>
			<div class="controls">
				<input type="text" name="pais" id="pais" value="${params.pais}" />
			</div>
			
			<label for="observacoes">Observações:</label>
			<div class="controls">
				<textarea name="observacoes" id="observacoes">${params.observacoes}</textarea>
			</div>
			
			<input type="submit" value="Cadastrar" />

		</div>

	#{/form}

	</div>
</div>

#{include 'footer.html' /}
