#{extends 'application.html' /} 
#{set title:'Inserir Procedimento' /}

<div class="container">

	<h2>Inserir Procedimento</h2>

	<div class="hero-unit">

	#{form @Procedimento.cadastrar_procedimento()} 
		
		#{ifErrors}
			<p style="color: red;">
				<strong>ATENÇÃO: </strong>Preencha todos os campos obrigatórios.
			</p>
		#{/ifErrors}


		<div class="control-group">

			<div class="control-group">
	            <label class="control-label" for="id_paciente">Paciente</label>
	            <div class="controls">
	              <select id="id_paciente" name="id_paciente">
	              #{list items:models.MPaciente.listar(), as:'paciente'}
	              	%{selected = (paciente.id == params.id_paciente) ? "selected" : ""}%
	                <option value="${paciente.id}" "${selected}" >${paciente.nome}</option>
	              #{/list}
	              </select>
	            </div>
	          </div>

			<div class="control-group">
	            <label class="control-label" for="id_tipo_procedimento">Tipo de Procedimento</label>
	            <div class="controls">
	              <select id="id_tipo_procedimento" name="id_tipo_procedimento">
	              #{list items:models.MTipoProcedimento.listar(), as:'tipo_procedimento'}
	              	%{selected = (tipo_procedimento.id == params.id_tipo_procedimento) ? "selected" : ""}%
	                <option value="${tipo_procedimento.id}" "${selected}" >${tipo_procedimento.nome}</option>
	              #{/list}
	              </select>
	            </div>
	          </div>

			<label for="data_inicio">Data e hora de início:</label>
			<div class="controls">
				<input type="text" name="data_inicio" id="data_inicio" value="${params.data_inicio}" />
			</div>
			
			<label for="data_fim">Data e hora de fim:</label>
			<div class="controls">
				<input type="text" name="data_fim" id="data_fim" value="${params.data_fim}" />
			</div>

			<label for="local">Local:</label>
			<div class="controls">
				<input type="text" name="local" id="local" value="${params.local}" />
			</div>
			
			<label for="observacoes">Observação:</label>
			<div class="controls">
				<textarea name="observacoes" id="observacoes">${params.observacoes}</textarea>
			</div>
			
			<input type="submit" value="Cadastrar" />

		</div>

	#{/form}

	</div>
</div>

#{include 'footer.html' /}
