#{extends 'application.html' /}
#{set title:'Visualizaçao' /}

#{list items:paciente, as:'paciente'}

<p><label for="nome">Nome: </label>${paciente.nome}</p>
<p><label for="telefone">Telefone :</label>${paciente.telefone}</p>
<p><label for="rg">Rg: </label>${paciente.rg}</p>
<p><label for="end">Endere&ccedil;o:</label>${paciente.end}</p>
<p><label for="plano">Plano de saude: </label>${paciente.planoDesaude}</p>
<p>
<a href="@{Application.editar(paciente.id)}">Editar</a>
<a href="@{Application.excluir(paciente.id)}" onClick="if(!confirm('Deseja excluir este paciente?')){return false;}">Excluir</a>
</p>
<p>
<a href="@{Application.inserir_procedimento(paciente.id)}">Inserir Procedimento</a>
<a href="@{Application.visualizar_procedimento(paciente.id)}">Visualizar Procedimento</a>
</p>

<hr />

#{/list}

<div class="btn-submit">
<p>
<a href="@{Application.index()}">Voltar</a>
</p>
</div>
