#{extends 'application.html' /}
#{set title:'Visualizar Procedimento' /}

<div class="container">

	<div class="hero-unit">
	    <p>
	    	%{paciente = models.MPaciente.getPaciente(procedimento.id_paciente)}% 
	    	${paciente.nome}
	    	| 
	    	%{tipo_procedimento = models.MTipoProcedimento.getTipoProcedimento(procedimento.id_tipo_procedimento)}% 
	    	${tipo_procedimento.nome}
	    </p>
	    <p>
	    	${procedimento.data_inicio} | ${procedimento.data_fim}
	    </p>
	    <p>
	    	${procedimento.local}
	    </p>  
	    <p>
	    	${procedimento.observacoes}
	    </p>
	      
	</div>

#{include 'footer.html' /}

</div> <!-- /container -->
